// навигация
header {
  background-image: url(../images/background-header.png);
  max-width: 1125px;
  height: 680px;
}
.list-item-navigation {
  display: flex;
  margin-top: 0;
  margin-right: 0;
}

.list-navigation {
  list-style-type: none;

  &:not(:last-child) {
    margin-right: 40px;
  }
}

.link-navigation {
  font-size: 12px;
  line-height: 1.3;
  text-decoration: none;
  color: $basic-white-color;

  &:hover,
  &:focus {
    color: $orange;
  }
}

.headear-phone {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3;
  text-decoration: none;
  color: $basic-white-color;
  margin-right: 40px;
}

// о нас в хедере

.description-trip {
  height: 1px;
  width: 60px;
  background: rgba(157, 164, 189, 0.6);
}

.list-item-description {
  margin-bottom: 0;
  margin-top: 204px;
}
.list-description {
  list-style-type: none;
}

.text-description {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.4;

  color: rgba(157, 164, 189, 0.6);
}

.title-barber-shop {
  font-family: Raleway;
  font-style: 400;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.2;
  margin-bottom: 0;
  margin-top: 27px;
}

.text-barber-shop {
  font-size: 18px;
  line-height: 1.7;
  margin-bottom: 0;
  margin-top: 20px;
  color: $secondary-gray;
}

// кнопки
.container-button-navigation {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0;
  margin-top: 142px;
}

.button-backward {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.4;
  margin-right: 20px;
  color: rgba(157, 164, 189, 0.6);
  background-color: transparent;
  text-align: start;
  padding-right: 22px;
  padding-left: 0;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.6);
}

.button-forward {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.4;
  color: $basic-white-color;
  background-color: transparent;
  text-align: end;
  padding-right: 0;
  padding-left: 22px;
  border: none;
  border-bottom: 1px solid $basic-white-color;
}

.container-header-navigation-phone {
  display: flex;
  justify-content: space-between;
}
