// основной белый цвет color: #FFFFFF;
// основной черный цвет #303030;
// вторичный черный  цвет #555555;
// вторичный серый цвет #9DA4BD;
// оранжевый цвет #FF6C00;

$basic-white-color: #ffffff;
$basic-black-color: #303030;
$secondary-black: #555555;
$secondary-gray: #9da4bd;
$orange: #ff6c00;
